html {
  position: relative;
  min-height: 100%;
	background:#eee url(../images/bg.png) !important;
}
body {
  font: normal  18px/24px 'Segoe UI', Arial, Sans Serif;
  color: #111;
	margin: 0 0 114px;
  background:url(../images/bg_logo.png) left 30px no-repeat;
}
.fixw {
	width:990px !important;
	margin: 0 auto;
	overflow:hidden;
}
.row-fluid {
  font-size: 14px;
	line-height:22px;
}
a img {
	border: none;
}
a, input:focus {
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.clearfloat {
	clear:both;
	height:0;
}
h1 {
	font-size:40px;
	margin:20px 0 10px 0;
}
h2, h3 {
	margin: 15px 0 5px 0;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid rgba(200,200,200,.3);
  border-bottom: 1px solid rgba(255,255,255,.4);
}
.wd90 {
	width:93%;
}
.unstyled a{
	color:#444;
	margin: 10px 0 10px 33px;
	display:block;
}
.unstyled a:hover{
	color:#000;
}

.hero {
	text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}
.pad {
	padding: 25px;
	background:url(../images/whitebg.png) center -50px no-repeat;
	min-height:350px;
	padding-top:0;
}
.gray {
	font: normal 12px 'Segoe UI', Arial, Sans Serif;
	color:#666;
}

/*Button*/
.btn img {
	margin:-3px 5px 0 0;
}
.btn.green {
	background: #35a62b;
	background: -moz-linear-gradient(top,  #35a62b 0%, #1d8b16 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35a62b), color-stop(100%,#1d8b16));
	background: -webkit-linear-gradient(top,  #35a62b 0%,#1d8b16 100%);
	background: -o-linear-gradient(top,  #35a62b 0%,#1d8b16 100%);
	background: -ms-linear-gradient(top,  #35a62b 0%,#1d8b16 100%);
	background: linear-gradient(to bottom,  #35a62b 0%,#1d8b16 100%);
	color:#fff;
	font: normal 18px 'Conv_MyriadPro-Bold';
	padding: 10px 15px;
	text-shadow: -1px -1px 0 #0b6c07;
	box-shadow: inset 0 1px rgba(255,255,255,.5), 0 5px #055900, inset 0 0 15px #25931c;
	z-index:100;
	margin:0 20px 30px 0;
	border-radius:5px;
	cursor:pointer;
	display: block;
}
.btn.green:hover {
	box-shadow: inset 0 1px rgba(255,255,255,.5), 0 5px #055900, inset 0 0 50px #055900;
}
.btn.green:active {
	box-shadow: inset 0 1px rgba(255,255,255,.5), 0 3px #055900, inset 0 0 15px #25931c;
	position:relative;
	top:2px;
}
.btn.orange {
	background: #e98623;
	background: -moz-linear-gradient(top,  #e98623 0%, #e06812 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e98623), color-stop(100%,#e06812));
	background: -webkit-linear-gradient(top,  #e98623 0%,#e06812 100%);
	background: -o-linear-gradient(top,  #e98623 0%,#e06812 100%);
	background: -ms-linear-gradient(top,  #e98623 0%,#e06812 100%);
	background: linear-gradient(to bottom,  #e98623 0%,#e06812 100%);
	color:#fff;
	font: normal 18px 'Conv_MyriadPro-Bold';
	padding: 10px 15px;
	text-shadow: -1px -1px 0 #ae3900;
	box-shadow: inset 0 1px rgba(255,255,255,.5), 0 5px #ae3900, inset 0 0 15px #e06812;
	z-index:100;
	margin:0 20px 30px 0;
	border-radius:5px;
	cursor:pointer;
	display: block;
}
.btn.orange:hover {
	box-shadow:  inset 0 1px rgba(255,255,255,.5), 0 5px #ae3900, inset 0 0 50px #ae3900;
}
.btn.orange:active {
	box-shadow: inset 0 1px rgba(255,255,255,.5), 0 3px #ae3900, inset 0 0 15px #e06812;
	position:relative;
	top:2px;
}
.btn.blue {
	background: #54a6e5;
	background: -moz-linear-gradient(top,  #54a6e5 0%, #1e5799 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54a6e5), color-stop(100%,#1e5799));
	background: -webkit-linear-gradient(top,  #54a6e5 0%,#1e5799 100%);
	background: -o-linear-gradient(top,  #54a6e5 0%,#1e5799 100%);
	background: -ms-linear-gradient(top,  #54a6e5 0%,#1e5799 100%);
	background: linear-gradient(to bottom,  #54a6e5 0%,#1e5799 100%);
	color:#fff;
	font: normal 18px 'Conv_MyriadPro-Bold';
	padding: 10px 15px;
	text-shadow: -1px -1px 0 #1C328C;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 5px #1C328C, inset 0 0 15px #1e5799;
	z-index:100;
	margin:0 20px 30px 0;
	border-radius:5px;
	cursor:pointer;
	display: block;
}
.btn.blue:hover {
	box-shadow:  inset 0 1px 0 rgba(255,255,255,.2), 0 5px #1C328C, inset 0 0 50px #1C328C;
}
.btn.blue:active {
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 3px #1C328C, inset 0 0 15px #1C328C;
	position:relative;
	top:2px;
}
.btn_shd {
	background:url(../images/button_bg.png) center bottom;
	position:relative;
	width:460px;
	height: 40px;
	z-index:-1;
	top:-15px;
	left:-13px;
}
input[type="checkbox"] {
	position:relative;
	bottom:-7px;
	margin-right:5px;
}
.l_icons a {
	font-size:13px;
	text-shadow:none;
	color:#111;
}
.l_icons img {
	position:relative;
	top:-2px;
	margin-right:5px;
}
.bg_overlay {
	background: rgba(150,150,150,.1);
	border-radius: 10px;
	padding:20px 0;
} 
.login input[type="text"], .login input[type="password"] {
	padding: 10px 15px 5px 15px !important;
	font-size:16px !important;
	margin-bottom:20px !important;
	border-radius: 8px !important;
	opacity:.8;
	border: 1px solid #aaa !important;
}
input:focus {
	opacity:1;
}
.chk_fix {
	position:relative;
	top:-2px;
	left:5px;
}
/*iphone slider*/
.iphone{ width: 497px; margin-top:20px;}
#iphone-overlay{position:relative;top:-428px;left:206px; width:225px; }
#iphone-overlay img{position:absolute; z-index:800 !important;}
#iphone-overlay img.active{z-index:10000 !important;}
#iphone-overlay img.last-active{z-index:900 !important;}
.over { z-index:100 !important;}

.span1 {
	height: 1px !important;
	min-height: 1px !important;
}
.menu_min {
	max-width:215px;
}
.menu i {
	margin: 2px 5px 0 0;
}
.menu img {
	margin: -7px 4px 0 0;
}
.small_btn {
	padding: 5px 10px !important;
	font-size: 16px !important;
}
.btn a{
	color:#fff;
}
.btn a:hover{
	text-decoration: none;
}
.loginbt {
	width:70px;
	float:left;
	margin-right:10px;
}
.signupbt {
	width:150px;
	float:left;
}

/*Footer*/
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 114px;
  width: 100%;
}
footer .container{
	padding: 20px 0;
}
footer .container a {
	padding: 0 15px;
	font-size: 15px;
	color:#999;
}
footer .container a:hover {
	color:#eee;
}
footer .container p , footer .container p a {
	padding: 10px 15px;
	font-size: 13px;
	color:#666;
}
